#nav-right li a {
  color:#014556;
}
.navbar-brand {
  font-size:28px;
  color:#014556 !important;
}

.navbar-brand:hover {
  text-decoration:underline;
}

#navbar {
  background-color:#112;
}

#nav-right li a:hover {
  text-decoration:underline;
}

.navbar-brand {
  font-size:28px;
}


