<<<<<<< HEAD
#nav-right li:nth-child(1) a {
  color:#ea2d2d !important;
}

#nav-right li:nth-child(2) a {
  color:#3c3cbf;
}

#nav-right li:nth-child(3) a {
  color:purple;
}

.navbar-brand {
  font-size:28px;
}

.navbar-brand:hover {
  text-decoration:underline;
}

#navbar {
  background-color:#112;
}

#nav-right li a:hover {
  text-decoration:underline;
}

.navbar-brand {
  font-size:28px;
}


