.navbar-brand {
  font-size:28px;
}

.navbar-brand:hover {
  text-decoration:underline;
}

#navbar {
  background-color:#112;
}

#nav-right li a:hover {
  text-decoration:underline;
  color:#252525;

}



