#portfolio {
  color:white;
  background-color:#252525;
}

#portfolio-glyph {
  font-size:88px;
  margin-top:50px;
}

#portfolio-items {
  margin-top:30px;
  margin-bottom:100px;
}

.portfolio-item a {
  color:black;
}

.portfolio-item img {
  height:350px;
  width:350px;
  margin:0 auto;
}

.portfolio-item a:hover {
  text-decoration:underline;
}

