#portfolio {
  color:white;
  background-color:#252525;
}

#portfolio-glyph {
  font-size:88px;
  margin-top:50px;
}
.portfolio-item {
  margin-bottom:50px;
}

.portfolio-item:hover {
}

.portfolio-item{
  background-color:white;
  padding-top:50px;
  min-height:650px;
  border-right:8px solid #252525;
  border-radius:15px;
}

#portfolio-items {
  margin-bottom:100px;
  background-color:#252525;
}

.portfolio-item a {
  color:black;
}

.portfolio-item img {
  height:350px;
  width:350px;
  margin:0 auto;
}

.portfolio-item a:hover {
  text-decoration:underline;
}

