#photo {
  width:300px;
  margin:0 auto;
}

#photo-description {
  padding:0 30px 0 30px;
}

.glyph {
  font-size:88px;
  color:white;
}

#habilidades {
  padding-top:50px;
  color:white;
  background-color:#014556;
}

#habilidades h4 {
  margin-bottom:60px;
}

#experiencia {
  background-color:#6d0000;
  color:white;
  padding-top:60px;
}

#experiencia h4 {
  margin-bottom:60px;
}

#academica {
  background-color:#252525;
  color:white;
  text-align:center;
}

#academica h4 {
  margin-bottom:60px;
}

