a {
  color:white;
}
a:hover {
  text-decoration:none;
}

#photo-container {
  background-color:#252525;
  color:white;
  padding-top:30px;
  padding-bottom:30px;
}


#greeting {
  background-color:#252;
  color:white;
}

#photo-big {
  margin:0 auto;
}

#curriculum-border:hover {
  border:2px solid white;
  background-color:white;
  color:#252;
}
#curriculum-glyph {
  font-size:88px;
}
#curriculum-border {
}

#portfolio-border:hover {
  border:2px solid white;
  background-color:white;
  color:#252;
}
#book-glyph {
  font-size:88px;
  margin-top:0;
}
#portfolio-border {
}

#contact-border {
  padding-bottom:30px;
}

#contact-border:hover {
  border:2px solid white;
  background-color:white;
  color:#252;

}
#contact-glyph {
  font-size:88px;
}



@media (min-width:576px) {
  #photo-big {
    width:350px;
  }
}
