a {
  color:white;
}
a:hover {
  text-decoration:none;
}

#photo-container {
  background-color:#252525;
  color:white;
  padding-top:30px;
  padding-bottom:30px;
}


#greeting {
  background-color:#252;
  color:white;
}

#options {
  background-color:#252;
  text-align:center;
  padding-top:35px;
  padding-bottom:35px;
}

#photo-big {
  display:inline;
  margin:0 auto;
}

#photo-logo {
  display:inline;
  margin:0 auto;
  height:350px;
}

.option:hover {
  background-color:white;
  color:#252 !important;

}
.option a:hover {
  padding-top:25px;
  color:#252 !important;
}

#curriculum-glyph {
  font-size:88px;
}
#curriculum-border {
}

#portfolio-border:hover {
}
#book-glyph {
  font-size:88px;
  margin-top:0;
}


#contact-glyph {
  font-size:88px;
}



  #photo-big {
    width:350px;
  }
